@yellow: #fffa19;
@red: #F8150A;
@green: #81D911;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.mispadding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
	padding: @top @right @bottom @left;
}

.mistamanios(@width,@height){
	width: @width;
  	height: @height;
}

.jumbotron {
  background-color: @green;
  color: black;
  .margenes(50px, 0px);  
}

footer {
  .mispadding(10px, 10px, 0, 10px);  
  background-color: @green;
  .margenes(10px, 0px);  
}

.card-hotel {
  flex: 1 200px;
  .mispadding(0px, 0px, 0px, 0px);  
  .margenes(10px, 0px); 
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.imagenes-hotel {
  .mistamanios(100%,195px);
}

.imagenes-carrusel {
  .mistamanios(100%,320px);
}

.tab-pane {
  padding-top: 10px; }