$green: #81D911;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	color: black;
	@include margenes(50px, 0px);	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	@include margenes(10px, 0px);	
}

.card-hotel {
	flex: 1 200px;
	padding: 0px 0px 0px 0px;
	@include margenes(10px, 0px);	
}

.btn-reserva {
	width: 100%;	
	border-radius: 0px;	
}

.footer-address-icon {
	padding-right: 10px;
}

.imagenes-hotel{
  width: 100%; height: 195px;
}
.imagenes-carrusel{
  width: 100%; height: 320px;
}

.tab-pane{
	padding-top: 10px;
}