.jumbotron {
  background-color: #81D911;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #81D911;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.imagenes-hotel {
  width: 100%;
  height: 195px; }

.imagenes-carrusel {
  width: 100%;
  height: 320px; }

.tab-pane {
  padding-top: 10px; }
